body {
    background-color: rgb(230, 173, 225);
  }
  
  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  p {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: verdana;
    font-size: 20px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }